.btn-login {
    background-color: #1B84FF;
}

.desc-login{
    font-size: 13px;
    color: #4B5675;
}

.btn-signin {
    background-color: #FCFCFC;
    color: #4B5675;
    font-size: 9.73px;
    border: 1px solid #DBDFE9;
}